.item_info{
    display: flexbox;
    flex-grow: 1;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 7px (0,0,0, 0.15);
    align-items: flex-start;
    margin-bottom: 5px;
    background-color: #ede6e6;
}

div{
    font-size: 12px;
    color: #31383f;
    display: flexbox;
}

.item_List{
    font-size: 15px;
    color: #2c3e50;
    display: flex;
    padding: 7px;
    align-items: center;
    border: 4 2 2 2;
    
}

.titulo_info{
    display: flex;
    align-items: center;
    color: #2c3e50;
    border: 4 2 2 2;
    margin-right: 7px;
    font-size: 15px;
}

.item_dados{
    
    align-items: flex-start;
    border: 4 2 2 2;
    font-size: 15px;
    

}


.item_button{
    display: flex;
    justify-content: space-between;

}
.excluir-button{
        background-color: #f83605;
        border-radius: 5px;
        border: 4px double #f8f5f5;
        color: #eeeeee;
        text-align: center;
        margin-left: 50px;
        font-size: 13px;
        padding: 5px;
        width: 55px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
}

.editar-Link{
        background-color: #7b38d8;
        border-radius: 5px;
        color: #eeeeee;
        text-decoration:none;
        text-align: center;
        font-size: 15px;
        padding: 7px;
        width: 55px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;

}


